
* {
  margin:0;
  padding:0;
  font-family: robotoL;
}
html { height : 101%; } 
body {


	font-family: robotoL;
	background: url(../imagenes/6.jpg) 100% 0% no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

#content {
	margin-left:21%;
}

body > h3 {
	border-bottom:1px solid #000;
	margin-left:100px;
	margin-right:80px;
	padding-top:10px;
	padding-left:15px;
	padding-bottom:16px;
	font-weight: bold;
	font-size:1.9em;
	color:#000;
}

h5 {
	margin-left:100px;
	margin-right:80px;
	padding-top:10px;
	padding-left:15px;
	padding-bottom:16px;
	font-weight: bold;
}

.fdizquierda {float: left; width: 29%;}

.fdderecha {float: right; width: 68%; }


header {
    background-image: -webkit-gradient(
	linear,
	left top,
	left bottom,
	color-stop(0, #454A4E),
	color-stop(1, #464F52)
);
background-image: -o-linear-gradient(bottom, #454A4E 0%, #464F52 100%);
background-image: -moz-linear-gradient(bottom, #454A4E 0%, #464F52 100%);
background-image: -webkit-linear-gradient(bottom, #454A4E 0%, #464F52 100%);
background-image: -ms-linear-gradient(bottom, #454A4E 0%, #464F52 100%);
background-image: linear-gradient(to bottom, #454A4E 0%, #464F52 100%);
	background-color:#454A4E;
	height:100px;
	margin:0;
	padding-left:100px;
}

#header {
    background-image: -webkit-gradient(
	linear,
	left top,
	left bottom,
	color-stop(0, #454A4E),
	color-stop(1, #464F52)
);
background-image: -o-linear-gradient(bottom, #454A4E 0%, #464F52 100%);
background-image: -moz-linear-gradient(bottom, #454A4E 0%, #464F52 100%);
background-image: -webkit-linear-gradient(bottom, #454A4E 0%, #464F52 100%);
background-image: -ms-linear-gradient(bottom, #454A4E 0%, #464F52 100%);
background-image: linear-gradient(to bottom, #454A4E 0%, #464F52 100%);
	background-color:#454A4E;
	height:100px;
	margin:0;
	padding-left:100px;
}

.logueo {
	background-color:#2b2f32;
	height:800px;
	padding-left:100px;
}



body > footer{
background: url(../imagenes/bg-bueno.jpg) repeat; text-align:center; font-family: "Prestige Elite Std"; font-size:0.9em; height:30px;
border-top:2px solid #085878;
width:100%;
padding-top:10px;
bottom: 0px;
font-size:1.1em;
padding-bottom: 10px;
}

.content {
    height: 100%;
    margin: 20px auto;
    padding: 16px;
    width: 1050px;
}

.donde {
    width: 700px;
    margin-left: 100px;
    margin-top: 20px;
}

#menu li.active a {
	font-weight: bold;
	color:#222;
	text-shadow: 0 0 0.1em #F6CED8, 0 0 0.2em #F6CED8;
}

#menu li a {
	color:#EBEBEB;
	font-weight: bold;
	text-shadow: 0.1em 0.1em 0.05em #333;
}

#menu li a:hover {
	color:#656565;
	font-weight: bold;
	text-shadow: -1px -1px white, 1px 1px #fff;

}



#navigation {
			height:100%;
			background-color: #303641;
			padding-top:15px;
			overflow-y: auto;
			position: fixed;
			top: 0;
			width: 20%;
			z-index: 9999;
			overflow: hidden;
			
		}
		
		#navigation #mobile-header {
			text-align:center;
			color: #7A0000;
			font-size:2.0em;
			font-family: robotoL;	
		}
		
		#navigation #mobile-header p {
			color: #fff;
			font-size:1em;
			font-family:  robotoL;
		}
		
		.todoMenu {

		}
		
		.nav {
			margin-top:-15px;
			/*border-bottom:1px solid #FFD2D2;*/
		}
		.nav ul {
			list-style:none;
		}
		.nav ul li {
			padding:8px 8px;
			height:44px;
			border-bottom:1px solid #3e444e;
			border-top:1px solid #303641;
			width:100%;
		}
		
		.nav ul li a {
			color:#FFF;
			font-family:robotoL;
			font-size:1.0em;
			text-decoration:none;
			/*width:100%;*/
			float: left;
			margin-top:5px;
		}
		
		.nav ul li:hover {
			background: #2b303a; /* Old browsers */
			text-indent:15px;
			-webkit-transition:all 1s ease;
		    -moz-transition:all 1s ease;
		    -o-transition:all 1s ease;
		    transition:all 1s ease;
			text-shadow:1px 1px 1px #006;
		}
		
		.triangulo {
			 width: 0; 
			 height: 0; 
			 border-left: 100px solid #f0ad4e;
			 border-top: 50px solid transparent;
			 border-bottom: 50px solid transparent; 
		}

		.nav .arriba {
			border-top:none;
		}
		.abajo {
			padding-top:-8px;
		}
		
		#infoMenu {
			margin-top:15px;
			padding:8px 2px 1px 10px;
			/*background-color:#7A0000;*/
			background-color: #248dc1; /* Old browsers */

			border-bottom:1px solid #d60000;
			border-top:1px solid #b20000;
		}
		
		#infoMenu p {	
			color: #000;
			font-family: robotoL;
			font-size:15px;
		}
		
		#infoDescrMenu {
			padding:8px;
		}
		
		#infoDescrMenu p {
			color:#FFF;
		}
		
		.icodashboard {
			background:url(../imagenes/iconmenu/dashboard.png)  no-repeat;
			background-position: center center;
			width:40px;
			height:40px;
			float:left;
			margin-right:9px;
			margin-top:-4px;
			/* OKAY */
		   background-size: 25px 50px;
		   background-size: 50% 50%;
		}
		
		.icousuarios {
			background:url(../imagenes/iconmenu/usuarios.png) no-repeat;
			background-position: center center;
			width:40px;
			height:40px;
			float:left;
			margin-right:10px;
			margin-top:-4px;
			/* OKAY */
		   background-size: 25px 50px;
		   background-size: 50% 50%;
		}
		
		.icochart {
			background:url(../imagenes/iconmenu/chart.png) no-repeat;
			background-position: center center;
			width:40px;
			height:40px;
			float:left;
			margin-right:10px;
			margin-top:-4px;
			/* OKAY */
		   background-size: 25px 50px;
		   background-size: 50% 50%;
		}
		
		.icopagos {
			background:url(../imagenes/iconmenu/pagos.png) no-repeat;
			background-position: center center;
			width:40px;
			height:40px;
			float:left;
			margin-right:10px;
			margin-top:-4px;
			/* OKAY */
		   background-size: 25px 50px;
		   background-size: 50% 50%;
		}
		
		.icosedes {
			background:url(../imagenes/iconmenu/sedes.png) no-repeat;
			background-position: center center;
			width:40px;
			height:40px;
			float:left;
			margin-right:10px;
			margin-top:-4px;
			/* OKAY */
		   background-size: 25px 50px;
		   background-size: 50% 50%;
		}
		
		.icocanchas {
			background:url(../imagenes/iconmenu/canchas.png) no-repeat;
			background-position: center center;
			width:40px;
			height:40px;
			float:left;
			margin-right:10px;
			margin-top:-4px;
			/* OKAY */
		   background-size: 25px 50px;
		   background-size: 50% 50%;
		}
		
		.icogoleadores {
			background:url(../imagenes/iconmenu/gym15.png) no-repeat;
			background-position: center center;
			width:25px;
			height:40px;
			float:left;
			margin-right:10px;
			margin-top:-4px;
			/* OKAY */
		   background-size: 25px 50px;
		   background-size: 50% 50%;
		}
		
		.icosuspendidos {
			background:url(../imagenes/iconmenu/lightning38.png) no-repeat;
			background-position: center center;
			width:40px;
			height:40px;
			float:left;
			margin-right:10px;
			margin-top:-4px;
			/* OKAY */
		   background-size: 25px 50px;
		   background-size: 50% 50%;
		}
		.icojugadores {
			background:url(../imagenes/iconmenu/user82.png) no-repeat;
			background-position: center center;
			width:40px;
			height:40px;
			float:left;
			margin-right:10px;
			margin-top:-4px;
			/* OKAY */
		   background-size: 25px 50px;
		   background-size: 50% 50%;
		}
		
		.icovehiculos {
			background:url(../imagenes/iconmenu/icovehiculo.png) no-repeat;
			background-position: center center;
			width:40px;
			height:40px;
			float:left;
			margin-right:10px;
			margin-top:-4px;
			/* OKAY */
		   background-size: 25px 50px;
		   background-size: 50% 50%;
		}
		
		
		.icoreparacion {
			background:url(../imagenes/iconmenu/icoreparacion.png) no-repeat;
			background-position: center center;
			width:40px;
			height:40px;
			float:left;
			margin-right:10px;
			margin-top:-4px;
			/* OKAY */
		   background-size: 25px 50px;
		   background-size: 50% 50%;
		}
		
		.icomodelo {
			background:url(../imagenes/iconmenu/icomodelo.png) no-repeat;
			background-position: center center;
			width:40px;
			height:40px;
			float:left;
			margin-right:10px;
			margin-top:-4px;
			/* OKAY */
		   background-size: 25px 50px;
		   background-size: 50% 50%;
		}
		
		
		.icomarca {
			background:url(../imagenes/iconmenu/icomarca.png) no-repeat;
			background-position: center center;
			width:40px;
			height:40px;
			float:left;
			margin-right:10px;
			margin-top:-4px;
			/* OKAY */
		   background-size: 25px 50px;
		   background-size: 50% 50%;
		}
		
		.icoamonestados {
			background:url(../imagenes/iconmenu/user84.png) no-repeat;
			background-position: center center;
			width:25px;
			height:40px;
			float:left;
			margin-right:10px;
			margin-top:-4px;
			/* OKAY */
		   background-size: 25px 50px;
		   background-size: 50% 50%;
		}
		.icoequipos {
			background:url(../imagenes/iconmenu/users6.png) no-repeat;
			background-position: center center;
			width:40px;
			height:40px;
			float:left;
			margin-right:10px;
			margin-top:-4px;
			/* OKAY */
		   background-size: 25px 50px;
		   background-size: 50% 50%;
		}
		.icozonasequipos {
			background:url(../imagenes/iconmenu/users7.png) no-repeat;
			background-position: center center;
			width:40px;
			height:40px;
			float:left;
			margin-right:10px;
			margin-top:-4px;
			/* OKAY */
		   background-size: 25px 50px;
		   background-size: 50% 50%;
		}
		.icotorneos {
			background:url(../imagenes/iconmenu/verification5.png) no-repeat;
			background-position: center center;
			width:40px;
			height:40px;
			float:left;
			margin-right:10px;
			margin-top:-4px;
			/* OKAY */
		   background-size: 25px 50px;
		   background-size: 50% 50%;
		}
		
		.icozonas {
			background:url(../imagenes/iconmenu/conceptos.png) no-repeat;
			background-position: center center;
			width:40px;
			height:40px;
			float:left;
			margin-right:10px;
			margin-top:-4px;
			/* OKAY */
		   background-size: 25px 50px;
		   background-size: 50% 50%;
		}
		
		.icofixture {
			background:url(../imagenes/iconmenu/novedades.png) no-repeat;
			background-position: center center;
			width:40px;
			height:40px;
			float:left;
			margin-right:10px;
			margin-top:-4px;
			/* OKAY */
		   background-size: 25px 50px;
		   background-size: 50% 50%;
		}
		
		.icoplayoff {
			background:url(../imagenes/iconmenu/playoff.png) no-repeat;
			background-position: center center;
			width:40px;
			height:40px;
			float:left;
			margin-right:10px;
			margin-top:-4px;
			/* OKAY */
		   background-size: 25px 50px;
		   background-size: 50% 50%;
		}
		
		.icofairplay {
			background:url(../imagenes/iconmenu/exportar.png) no-repeat;
			background-position: center center;
			width:40px;
			height:40px;
			float:left;
			margin-right:10px;
			margin-top:-4px;
			/* OKAY */
		   background-size: 25px 50px;
		   background-size: 50% 50%;
		}
		/*
		gym15.png
		lightning38.png
		user82.png
		user84.png
		users6.png
		users7.png
		verification5.png
		*/
		.icoalquileres {
			background:url(../imagenes/iconmenu/alquiler.png) no-repeat;
			background-position: center center;
			width:40px;
			height:40px;
			float:left;
			margin-right:10px;
			margin-top:-4px;
			/* OKAY */
		   background-size: 25px 50px;
		   background-size: 50% 50%;
		}
		
		.icoinmubles {
			background:url(../imagenes/iconmenu/inmueble.png) no-repeat;
			background-position: center center;
			width:40px;
			height:40px;
			float:left;
			margin-right:10px;
			margin-top:-4px;
			/* OKAY */
		   background-size: 25px 50px;
		   background-size: 50% 50%;
		}
		
		.icoturnos {
			background:url(../imagenes/iconmenu/turnos.png) no-repeat;
			background-position: center center;
			width:40px;
			height:40px;
			float:left;
			margin-right:10px;
			margin-top:-4px;
			/* OKAY */
		   background-size: 25px 50px;
		   background-size: 50% 50%;
		}
		
		.icoventas {
			background:url(../imagenes/iconmenu/compras.png) no-repeat;
			background-position: center center;
			width:40px;
			height:40px;
			float:left;
			margin-right:10px;
			margin-top:-4px;
			/* OKAY */
		   background-size: 25px 50px;
		   background-size: 50% 50%;
		}
		
		.icoproductos {
			background:url(../imagenes/iconmenu/barras.png) no-repeat;
			background-position: center center;
			width:40px;
			height:40px;
			float:left;
			margin-right:10px;
			margin-top:-4px;
			/* OKAY */
		   background-size: 25px 50px;
		   background-size: 50% 50%;
		}
		
		.icoreportes {
			background:url(../imagenes/iconmenu/reportes.png) no-repeat;
			background-position: center center;
			width:40px;
			height:40px;
			float:left;
			margin-right:10px;
			margin-top:-4px;
			/* OKAY */
		   background-size: 25px 50px;
		   background-size: 50% 50%;
		}
		
		.icocontratos {
			background:url(../imagenes/iconmenu/contratos.png) no-repeat;
			background-position: center center;
			width:40px;
			height:40px;
			float:left;
			margin-right:10px;
			margin-top:-4px;
			/* OKAY */
		   background-size: 25px 50px;
		   background-size: 50% 50%;
		}
		
		.icosalir {
			background:url(../imagenes/iconmenu/salir.png) no-repeat;
			background-position: center center;
			width:40px;
			height:40px;
			float:left;
			margin-right:10px;
			margin-top:-4px;
			/* OKAY */
		   background-size: 25px 50px;
		   background-size: 50% 50%;
		}
		
		.icoproductos2 {
			background:url(../imagenes/iconmenu/barras.png) no-repeat;
			background-position: center center;
			width:40px;
			height:25px;
			margin-right:9px;
			margin-bottom:25px;
			cursor:pointer;
		}
		
		.icoventas2 {
			background:url(../imagenes/iconmenu/compras.png) no-repeat;
			background-position: center center;
			width:40px;
			height:25px;
			margin-right:9px;
			margin-bottom:25px;
			cursor:pointer;
		}
		
		
		.icopagos2 {
			background:url(../imagenes/iconmenu/pagos.png) no-repeat;
			background-position: center center;
			width:40px;
			height:25px;
			margin-right:9px;
			margin-bottom:25px;
			cursor:pointer;
		}
		
		.icochart2 {
			background:url(../imagenes/iconmenu/chart.png) no-repeat;
			background-position: center center;
			width:40px;
			height:25px;
			margin-right:9px;
			margin-bottom:25px;
			cursor:pointer;
		}
		
		.icoturnos2 {
			background:url(../imagenes/iconmenu/turnos.png) no-repeat;
			background-position: center center;
			width:40px;
			height:25px;
			margin-right:9px;
			margin-bottom:25px;
			cursor:pointer;
		}
		
		.icodashboard2 {
			background:url(../imagenes/iconmenu/dashboard.png) no-repeat;
			background-position: center center;
			width:40px;
			height:25px;
			margin-right:9px;
			margin-bottom:25px;
			cursor:pointer;
		}
		
		.icousuarios2 {
			background:url(../imagenes/iconmenu/usuarios.png) no-repeat;
			background-position: center center;
			width:40px;
			height:25px;
			margin-right:10px;
			margin-bottom:25px;
			cursor:pointer;
		}
		
		.icoalquileres2 {
			background:url(../imagenes/iconmenu/alquiler.png) no-repeat;
			background-position: center center;
			width:40px;
			height:25px;
			margin-right:10px;
			margin-bottom:25px;
			cursor:pointer;
		}
		
		.icoinmubles2 {
			background:url(../imagenes/iconmenu/inmueble.png) no-repeat;
			background-position: center center;
			width:40px;
			height:25px;
			margin-right:10px;
			margin-bottom:25px;
			cursor:pointer;
		}
		
		
		.icoreportes2 {
			background:url(../imagenes/iconmenu/reportes.png) no-repeat;
			background-position: center center;
			width:40px;
			height:25px;
			margin-right:10px;
			margin-bottom:25px;
			cursor:pointer;
		}
		
		.icocontratos2 {
			background:url(../imagenes/iconmenu/contratos.png) no-repeat;
			background-position: center center;
			width:40px;
			height:25px;
			margin-right:10px;
			margin-bottom:25px;
			cursor:pointer;
		}
		
		.icosalir2 {
			background:url(../imagenes/iconmenu/salir.png) no-repeat;
			background-position: center center;
			width:40px;
			height:25px;
			margin-right:10px;
			margin-bottom:25px;
			cursor:pointer;
		}
		
		
		.ulHober {
			list-style:none;
			width:40px;
			right:6px;
			position:absolute;
		}
		
		.ulHober li {
			right:0;
		}
		
		.tooltip-dash, .tooltip-inmu, .tooltip-alqui, .tooltip-usua, .tooltip-con, .tooltip-rep, .tooltip-sal{
		   position: fixed;
		   background: #c0df71;
		   color: #fff;
		   border-radius:10px;
		   font-family:  Verdana, sans-serif;
		   padding: 10px;
		   margin-top: -10px;
		   margin-left: 20px;
		   z-index: 9999999999;
		   display: none;
		   background-color: #333;
		}
		
  
  .boxInfoForm{ 
				width: 95%; 
				height: auto; 
				margin:10px;
				background:#fff; 
				position: relative;
				/*opacity: 0.9;
  				filter:  alpha(opacity=90);
				box-shadow: 2px 2px 5px #999;
				-webkit-box-shadow: 2px 2px 5px #999;
  				-moz-box-shadow: 2px 2px 5px #999;
  				filter: shadow(color=#999999, direction=135, strength=2);*/
				margin-bottom:65px;
				/*border-top-left-radius: 16px;
 				border-top-right-radius: 16px;
				-moz-border-radius-topright: 16px;
				-moz-border-radius-topleft: 16px;*/


			}
			
  .boxInfoForm .row, .boxInfoForm .list-inline { padding-left:10px; padding-right:10px;}
		
  .boxInfo{ 
				width: auto; 
				height: auto; 
				margin:10px;
				background:#fff; 
				position: relative; 
				min-width: 650px;
				/*opacity: 0.9;
  				filter:  alpha(opacity=90);
				box-shadow: 2px 2px 5px #0e6390;
				-webkit-box-shadow: 2px 2px 5px #0e6390;
  				-moz-box-shadow: 2px 2px 5px #0e6390;
  				filter: shadow(color=#0e6390, direction=135, strength=2);*/
				margin-bottom:65px;
				/*border-top-left-radius: 16px;
 				border-top-right-radius: 16px;
				-moz-border-radius-topright: 16px;
				-moz-border-radius-topleft: 16px;*/


			}


	.boxInfoLargo{ 
		width: 98%; 
		height: auto; 
		margin-top:30px;
		margin-bottom:30px;
		min-width: 800px;
		float:left; 
		background:#fff; 
		z-index:-1;
		overflow: hidden; 
		position: relative; 
		margin-right:15px;
		/*opacity: 0.9;
		  filter:  alpha(opacity=90);
		box-shadow: 2px 2px 5px #0e6390;
		-webkit-box-shadow: 2px 2px 5px #0e6390;
		  -moz-box-shadow: 2px 2px 5px #0e6390;
		  filter: shadow(color=#0e6390, direction=135, strength=2);*/
		/*border-top-left-radius: 16px;
		 border-top-right-radius: 16px;
		-moz-border-radius-topright: 16px;
		-moz-border-radius-topleft: 16px;*/
		border-radius: 5px;
		-moz-border-radius: 5px;
		box-shadow: 2px 2px 5px #00003d;
		-webkit-box-shadow: 2px 2px 5px #00003d;
		-moz-box-shadow: 2px 2px 5px #00003d;


	}
			
	.boxInfo .cuerpoBox,.boxInfoLargo .cuerpoBox {
		padding:10px;
		z-index: -1;
		height: auto;
		overflow: hidden;
	}

	#headBoxInfo {
		background-color:#303641;
		padding:6px; 
		height:36px;
	}
			
			
	.btn-group {
		width:120px;
	}
	
	.form-group {
		padding:10px 15px;
	}

.fontcheck p {
	padding-top:7px;
	font-size:1.2em;
	color:#333;
}
  

.tile-stats.tile-white {
    border: 1px solid #ebebeb;
}
.tile-stats.stat-tile {
    border: medium none !important;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    padding: 0;
}
.tile-stats {
    border-radius: 5px;
    display: block;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
    transition: all 300ms ease-in-out 0s;
}

@font-face {
  font-family: "robotoL";
  src: url("../fuentes/Roboto-Bold.ttf");
}

